table, th, tr{

    box-sizing: border-box;
    border-collapse: collapse;
    height:50px;
    color: white;
    align-items: center;
}

th {
width: 500px;
border: 3px solid white;
border-top:none;
border-left:none;

}

th + .final
{
width: 100px;

}

.container
{
height: 100%;
width: 100%;

position: absolute;
background-image: url("../../../../assets/blackboardregister.png");
background-repeat: no-repeat;
background-size:cover;
}

.studentlist
{
margin-top: 150px;
width: 200px;
position: absolute;
height: 100vh;
border-left: none;
}

.student
{
    width: 200px;
    height: 50px;

    display: flex;
    margin-bottom: 5px;
}

.student label
{
    width: 100vh;
    margin-left: -26px;
    text-align: center;
    vertical-align: center;
    font-size: 20px;
    display: block;
    color: white;
    border: 4px  white;
    border-radius:20px;
    border:2px solid;
    background-color:#01722A;
}

.student input:checked + label
{
    background-color: white ;
    border: 4px solid white;
    color: #01722A;
}

.student input + label:hover
{
    border: 6px solid white;
}

.form
{
    width: 75%;
height: 100%;
margin:auto;
margin-top: 100px;
}

div.marks
{
    width: 75%;
    height: 100%;
    margin:auto;
    margin-top: 100px;
    display: table;
    box-sizing: border-box;
    border-collapse: collapse;
    height:50px;
    color: white;
    align-items: center;
}

form.tr, div.tr
{
    box-sizing: border-box;
    border-collapse: collapse;
    height:50px;
    color: white;
    align-items: center;
    display: table-row;
}

span.td
{
    width: 300px;
    border: 3px solid white;
    border-top:none;
    border-left:none;
    display: table-cell;
    text-align: center;
    padding: 0px;
    font-size: 20px;
    color: white;
    vertical-align: middle;
}

span.final
{
    width: 100px;
    border: 3px solid white;
    border-top:none;
    border-left:none;
    display: table-cell;
    text-align: center;
    padding: 0px;
    font-size: 20px;
    color: white;
    vertical-align: middle;
}

input.final
{
    border:none;
    text-align: center;
    font-size: 40px;
    width: 100px;
    background: transparent;
    padding: 0px;
    color: white;
    height: 50px;
}

input.regular
{
    border:none;
    width: 300px;
    padding: 0px;
    color: white;
    height: 50px;
    text-align: center;
    font-size: 40px;
    background: transparent;
}
button.confirmButton
{
    text-align: center;
    font-size: 20px;
    width: 100px;
    background-color:white;
    padding: 0px;
    height: 60px;
}

