<div class="container">
    <div class="marks">
        <table>
            <tr>
                <th>Предмет</th>
                <th>Прво полугодиште</th>
                <th class="final">Закључна оцена</th>
                <th>Drugo Polugodiste</th>
                <th class="final">Закључна оцена</th>
            </tr>
            <tr *ngFor="let subject of keys;">
                <th>{{subject}}</th>
                <th>{{getMarks(subject,"first", false)}}</th>
                <th>{{getMarks(subject,"first", true)}}</th>
                <th>{{getMarks(subject,"second", false)}}</th>
                <th>{{getMarks(subject,"second", true)}}</th>
            </tr>

        </table>
    </div>
</div>

