.form {
    position: absolute;
    width: 640px;
    height: 100%;
    padding: 50px 30px;
    -webkit-transition:-webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

.sign-in{
    padding-top: 65px;
    -webkit-transition-timing-function:ease-out;
            transition-timing-function:ease-out;
}
  
::ng-deep .cont.s-signup .sign-in{
    -webkit-transition-timing-function:ease-in-out;
            transition-timing-function:ease-in-out;
    -webkit-transition-duration:1.2s;
            transition-duration:1.2s; 
    -webkit-transform:translate3d(640px, 0, 0);
            transform:translate3d(640px, 0, 0);
}

h2 {
    margin-top: -35px;
    width: 100%;
    font-size: 30px;
    text-align: center;
}

button.submit{
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    background: #013220;
  }
  
  .submit:hover{
    background: #013220b3;
  }

  .forgot-pass{
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #0c0101;
    cursor: pointer;
  }
  
  .forgot-pass:hover{
    color: red;
  }

  .error_div {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    color: red;
  }

  input, button {
    border:none;
    outline: none;
    background: none;
  }

  input {
    display: block;
    width: 100%;
    margin-top: 5px;
    font-size: 13px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    text-align: center;
    font-family: 'Nunito', sans-serif; 
  }

  label {
    display: block;
    width: 400px;
    margin: 22px auto 0;
    text-align: center;
  }

  label span{
    font-size: 13px;
    font-weight: 800;
    color: black;
    text-transform: uppercase;
  }