.body1 {
    position: relative;
    color: #1a202c;
    width: 1700px;
    background-color: #cad5e3;    
}

.main-body {
    padding: 15px;
    display: inline-block;
}

.changeInf {
    margin-top: 1vh;
}

.picture {
    position: relative;
    width: 200px;
    height: 205px;
    padding-top: 10px;
    padding-left: 10px;
}

.informations {
    margin-top: 0.5vh;
}

.changeAvatarButton {
    margin-top: 1vh;
}

.changeAvatar {
    /* position: relative; */
    margin-top: -210px;
    margin-left: 210px;
}

.oldPassInput {
    width: 150px;
}

.picture {
    width: 400px;
    height: 205px;
    padding-top: 10px;
    padding-left: 10px;
}

.newPassInput {
    width: 150px;
    margin-left: 6px;
}

.fullnameInformations {
    font-size: 28px;
    font-weight: 700;
    margin-left: 15px;
}

.emailInformations {
    font-size: 20px;
    margin-left: 15px;
    line-height: 0px;
}

.title {
    padding-top: 70px;
    margin-left: 400px;
    font-size: 30px;
}

.inputClass {
    margin-top: 1vh;
    margin-left: 200px;
    width: 700px;
    background-color: #f0e2a8;
    border-bottom: 1px solid black;
    border-top: 0px solid #ffffff00;
    border-left: 0px solid #ffffff00;
    border-right: 0px solid #ffffff00;
    text-align: center;
    font-size: 28px;
    color: black;
}

.labelGrade2 {
    font-size: 24px;
}

.grade {
    text-align: center;
    border-bottom: 1px solid black;
    border-top: 0px solid #ffffff00;
    border-left: 0px solid #ffffff00;
    border-right: 0px solid #ffffff00;
    font-size: 24px;
    padding-top: 60px;
    background-color: #f0e2a8;
    color: black;
}

.fullName {
    font-size: 28px;
    margin-top: 1vh;
    margin-left: 10px;
}

.fullname {
    font-size: 12px;
    margin-left: 490px;
}

.labelGrade1 {
    margin-left: 250px;
    font-size: 24px;
}

.dateLabel {
    margin-left: 380px;
    font-size: 12px;
}

.yearLabel {
    margin-left: 750px;
    font-size: 24px;
    line-height: 150px;
}

.yearLabel2 {
    font-size: 24px;
}

.yearLabel3 {
    font-size: 24px;
}

.school {
    margin-left: 200px;
    font-size: 24px;
}

.dateInput {
    text-align: center;
    border-bottom: 1px solid black;
    border-top: 0px solid #ffffff00;
    border-left: 0px solid #ffffff00;
    border-right: 0px solid #ffffff00;
    padding-top: 150px;
    font-size: 18px;
    margin-left: 300px;
    background-color: #f0e2a8;
    color: black;
}

.yearInput1 {
    text-align: center;
    border-bottom: 1px solid black;
    border-top: 0px solid #ffffff00;
    border-left: 0px solid #ffffff00;
    border-right: 0px solid #ffffff00;
    font-size: 22px;
    width: 30px;
    color: black;
    background-color: #f0e2a8;
}

.yearInput2 {
    text-align: center;
    border-bottom: 1px solid black;
    border-top: 0px solid #ffffff00;
    border-left: 0px solid #ffffff00;
    border-right: 0px solid #ffffff00;
    font-size: 22px;
    width: 30px;
    color: black;
    background-color: #f0e2a8;
}

.schoolInput {
    text-align: center;
    border-bottom: 1px solid black;
    border-top: 0px solid #ffffff00;
    border-left: 0px solid #ffffff00;
    border-right: 0px solid #ffffff00;
    padding-top: 40px;
    font-size: 24px;
    color: black;
    background-color: #f0e2a8;
}

.placeInput {
    text-align: center;
    border-bottom: 1px solid black;
    border-top: 0px solid #ffffff00;
    border-left: 0px solid #ffffff00;
    border-right: 0px solid #ffffff00;
    padding-top: 40px;
    font-size: 24px;
    color: black;
    background-color: #f0e2a8;
}

.place {
    margin-left: 200px;
    font-size: 24px;
}

.parentEmail {
    margin-top: -1vh;
    margin-left: 10px;
}

.changeData {
    width: 220px;
    font-size: 16px;
    margin-left: 25px;
    margin-top: 5px;
    height: 45px;
    letter-spacing: 1px;
    cursor: pointer;
    background: lightsteelblue;
    border: 2px solid darkgray;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 2px 4px darkgray;
    transition: all 0.3s;
    z-index: 1;
}

.changeData:hover {
    box-shadow: 0px 15px 25px -5px darkgray;
    transform: scale(1.03);
    background: lightgrey;
}

.changeData:active {
    box-shadow: 0px 4px 8px darkgray;
    transform: scale(0.98);
}

.save {
    width: 220px;
    height: 45px;
    font-size: 16px;
    margin-top: 1vh;
    letter-spacing: 1px;
    cursor: pointer;
    background: lightsteelblue;
    border: 2px solid darkgray;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 2px 4px darkgray;
    transition: all 0.3s;
    z-index: 1;
}

.save:hover {
    box-shadow: 0px 15px 25px -5px darkgray;
    transform: scale(1.03);
    background: lightgrey;
}

.save:active {
    box-shadow: 0px 4px 8px darkgray;
    transform: scale(0.98);
}

.form {
    margin-top: 1vh;
    margin-left: 30px;
}

.form2 {
    margin-left: 30px;
    padding-bottom: 20px;
}


input {
    margin-top: 5px;
}

span {
    font-size: 18px;
}

.usernameDiv {
    margin-top: 10px;
}

.emailDiv {
    margin-top: 10px;
}

.prevpasswordDiv{
    margin-top: 10px;
}

.newpasswordDiv{
    margin-top: 10px;
}

.prevPass {
    margin-top: 20px;
}

.newPass {
    margin-top: 5px;
}

.changePassword {
    width: 220px;
    height: 45px;
    font-size: 16px;
    margin-top: 35px;
    margin-left: 30px;
    letter-spacing: 1px;
    cursor: pointer;
    background: lightsteelblue;
    border: 2px solid darkgray;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 2px 4px darkgray;
    transition: all 0.3s;
    z-index: 1;
}

.changePassword:hover {
    box-shadow: 0px 15px 25px -5px darkgray;
    transform: scale(1.03);
    background: lightgrey;
}

.changePassword:active {
    box-shadow: 0px 4px 8px darkgray;
    transform: scale(0.98);
}

.savePassword {
    width: 220px;
    height: 45px;
    font-size: 16px;
    margin-top: 20px;
    letter-spacing: 1px;
    cursor: pointer;
    background: lightsteelblue;
    border: 2px solid darkgray;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 2px 4px darkgray;
    transition: all 0.3s;
    z-index: 1;
}

.savePassword:hover {
    box-shadow: 0px 15px 25px -5px darkgray;
    transform: scale(1.03);
    background: lightgrey;
}

.savePassword:active {
    box-shadow: 0px 4px 8px darkgray;
    transform: scale(0.98);
}

.changeInf {
    width: 400px;
}

