.form {
    position: absolute;
    width: 640px;
    height: 100%;
    padding: 50px 30px;
    -webkit-transition:-webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
  }

  .sign-up{
  -webkit-transform:translate3d(-900px, 0, 0);
          transform:translate3d(-900px, 0, 0);
}

::ng-deep .cont.s-signup .sign-up{
  -webkit-transform:translate3d(0, 0, 0);
          transform:translate3d(0, 0, 0);
}

h2 {
    margin-top: -35px;
    width: 100%;
    font-size: 30px;
    text-align: center;
}

input, button {
    border:none;
    outline: none;
    background: none;
  }

input {
    display: block;
    width: 100%;
    margin-top: 5px;
    font-size: 13px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    text-align: center;
    font-family: 'Nunito', sans-serif; 
  }

  label {
    display: block;
    width: 400px;
    margin: 22px auto 0;
    text-align: center;
  }

  label span{
    font-size: 13px;
    font-weight: 800;
    color: black;
    text-transform: uppercase;
  }

  .select {
    text-align: center;
  }
  
  select {
    width: 300px;
    margin-top: 10px;
  }

  .error_div{
    line-height: 50px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    color: red;
  }
  
  button.submit {
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    background: #013220;
  }
  
  .submit:hover{
    background: #013220b3;
  }