<div class="main-body">
  <div class="body1">
    <div class="picture">
      <img [src]="getProfileImage()" onError="this.src='../../../../assets/user.jpeg'" width="200" height="210">
      <div class="changeAvatar">
        <label for="file">Изабери слику</label> <br>
        <input class="changeAvatarButton" type="file" (change)="handleFileInput($event)">
      </div>
    </div>
    <div class="informations">
      <label class="fullnameInformations">{{studentInfo?.fullname}}</label><br>
      <label class="emailInformations">{{studentInfo?.email}}</label><br>
    </div>
    <div class="changeInf">
      <button class="changeData" type="button" (click)="enableChangeFields()">Измени податке</button>
      <form [formGroup]="studentForm" (ngSubmit)="onSubmitUserForm()" class="form">
        <div>
          <span>Име и презиме:</span><br>
          <input type="text" name="name" formControlName="fullname">
        </div>
        <div id="usernameDiv">
          <span>Корисничко име:</span><br>
          <input type="text" name="username" formControlName="username">
        </div>
        <div id="emailDiv">
          <span>Имејл:</span><br>
          <input type="text" name="email" formControlName="email">
        </div>
        <button class="save" type="submit">Сачувај промене</button><br>
      </form>
      <button class="changePassword" type="button" (click)="enableChangePassword()">Промени шифру</button>
      <form class="form2" [formGroup]="studentForm" (ngSubmit)="onSubmitUserFormPassword()">
        <div class="prevPass">
          <span>Стара шифра: </span>
          <input name="oldPassword" type="password" class="oldPassInput" formControlName="password">
        </div>
        <div class="newPass">
          <span>Нова шифра: </span>
          <input name="newPassword" type="password" class="newPassInput" formControlName="newPassword">
        </div>
        <button class="savePassword" type="submit">Потврди промену шифре</button>
      </form>
    </div>
  </div>
  <div class="body2">
    <h2 class="title">ЂАЧКА КЊИЖИЦА</h2>
    <input class="inputClass" name="fullname" type="text" [value]="studentInfo?.fullname" disabled>
    <label class="fullname">(презиме и име ученика)</label><br>
    <label class="labelGrade1">је уписан-а у </label>
    <input class="grade" type="text" [value]="grade()" disabled>
    <label class="labelGrade2"> разед.</label><br>
    <label class="school">Основне школе </label>
    <input class="schoolInput" type="text" value="Драган Лукић" disabled> <br>
    <label class="place">У </label>
    <input type="text" value="Београду" class="placeInput" disabled> <br>
    <input type="text" [value]="currentDate()" class="dateInput" disabled> <br>
    <label class="dateLabel">(датум издавања)</label> <br>
    <label class="yearLabel">Школска 20</label>
    <input type="text" value="21" class="yearInput1" disabled>
    <label class="yearLabel2">/20</label>
    <input type="text" value="22" class="yearInput2" disabled>
    <label class="yearLabel3">. година</label>
  </div>
</div>