.container
{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #cad5e3;
    background-size:cover;
    overflow: scroll;
}

.studentlist
{
    margin-top: 150px;
    width: 200px;
    position: absolute;
    height: 100vh;
    border-left: none;
}

.student
{
    width: 200px;
    height: 50px;

    display: flex;
    margin-bottom: 5px;
}

.student label
{
    width: 100vh;
    margin-left: -20px;
    text-align: center;
    font-size: 20px;
    display: block;
    color: white;
    border: 4px  white;
    border-radius:20px;
    border:2px solid;
    background-color: #415E72;
}

.radioValue {
    font-size: 18px;
}

.numberInput {
    width: 60px;
    font-size: 16px;
}

.inputsDiv {
    float: left;
    margin-top: 2.5px;
}

.taskNumber {
    font-size: 18px;
}

.taskNumberDiv {
    margin-top: 25px;
}

.sentTestButton {
    margin-top: 10px;
    margin-left: 2vw;
    width: 150px;
    height: 35px;
    font-size: 14px;
    border-radius: 8px;
    background-color: lightsteelblue;
}

.sentTestButton:hover {
    box-shadow: 0px 15px 25px -5px darkgray;
    transform: scale(1.03);
    background: lightsteelblue;
    border: 3px solid #2B445A;

}

.student input:checked + label
{
    background-color: #2B445A ;
    border: 4px solid white;
    color: white;;
}

.student input + label:hover
{
    border: 6px solid white;
}

.testTemplates
{
    width: 75%;
    height: 100%;
    margin:auto;
    margin-top: 50px;
    margin-left: 250px;
}

.template
{
    float:left; 
    width: 200px;
    height: 40px;
    border: 2px #2B445A solid;
    border-radius: 8px;
    margin-right: 3px;
}

.template:hover {
    border: 4px solid #2B445A;
}

.circle {
    width: 25px;
    height: 25px;
    background-color: white;
    border: 1.9px solid black;
    border-radius: 80px;
}
