
.main_div {
    box-sizing: border-box;
    display: flex;
    position: absolute;
    margin: 0;
    padding: 0;
    background: #f7fdc3;
    font-family: "Nunito, sans-serif";
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
  }
  
nav {
  display: inline-block;
  float: left;
  position: relative;
  bottom: 0;
  background: #085F63;
  padding: 0;
  min-width: 6em;
  margin: 0;
  overflow: hidden;
  width: 8%;
  height: 100vh;
}
nav .menu {
  overflow: auto;
  position: absolute;
  height: 100%;
}
nav .menu input[type=radio] {
  position: absolute;
  left: -1000px;
}
nav .menu input[type=radio] + label {
  padding: 0.7rem;
  cursor: pointer;
  display: block;
  width: 80%;
  margin-left: -0.35rem;
  vertical-align: middle;
  text-align: center;
  color: white;
  text-decoration: none;
  border: 0 0.7rem #49BEB7 solid;
  border-bottom: 1px #49BEB7 solid;
  border-bottom: 0.1rem #49BEB7 solid;
  padding-bottom: 0.6rem;
}
nav .menu input[type=radio] + label:hover {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none; 
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 0;
  border-left: 0.7rem #49BEB7 solid;
}
nav .menu input[type=radio] + label .side-menu {
  font-size: 2em;
  display: block;
  margin-bottom: 0.15em;
  width: 170px;
}
nav .menu input[type=radio]:checked + label {
  border: 0 0.4em #081D2B solid;
  background: #FF5959;
  width: 170px;
}

nav .time {
  user-select: none;
  display: block;
  background: #FACF5A;
  color: white;
  text-align: center;
  min-height: 14mm;
  font-size: 1.5em;
  line-height: 14mm;
  vertical-align: middle;
}

.navigated {
  width: 92vw;
  max-width: 92vw;
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  max-height: 100vh;
  flex-direction: column;
  display: inline-block;
  overflow: hidden;
}
.navigated > header {
  align-content: flex-start;
}

.navigated > header {
  width: 100vw;
  background: white;
  display: block;
  position: relative;
  z-index: 1;
  box-shadow: 0 0.1em 2px lightgray;
}
.navigated > header > * {
  display: inline-block;
}

.horizontal-bar
{
  width: 100%;
  height: 25px;
  background-color: red;
  position: relative;
}

.active
{

}

.hidden
{
    display: none;
}

.cd-popup-style{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}

.img-replace {
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
}

.cd-popup-trigger {
  display: block;
  width: 170px;
  position: absolute;
  margin-top: -50px;
  height: 50px;
  line-height: 50px;
  margin: 3em auto;
  text-align: center;
  color: #FFF;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 50em;
  background: #35a785;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.07);
}
a
{
  cursor: pointer;
}

.iskacilo {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(34, 46, 70, 0.6);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.iskacilo.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: 4em auto;
  background: #FFF;
  border-radius: .25em .25em .4em .4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.cd-popup-container p {
  user-select: none;
  padding: 3em 1em;
}
.cd-popup-container .cd-buttons:after {
  content: "";
  display: table;
  clear: both;
}
.cd-popup-container .cd-buttons li {
  float: left;
  width: 50%;
  list-style: none;
}
.cd-popup-container .cd-buttons a {
  display: block;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  color: #FFF;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
  user-select: none;
}
.cd-popup-container .cd-buttons li:first-child a {
  background: #FF5959;
  border-radius: 0 0 0 .25em;
}
.cd-popup-container .cd-buttons li:last-child a {
  background: #b6bece;
  border-radius: 0 0 .25em 0;
}
.no-touch .cd-popup-container .cd-buttons li:last-child a:hover {
  background-color: #c5ccd8;
}
.cd-popup-container .cd-popup-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
}
.cd-popup-container .cd-popup-close::before, .cd-popup-container .cd-popup-close::after {
  content: '';
  position: absolute;
  top: 12px;
  width: 14px;
  height: 3px;
  background-color: #FF5959;
}
.cd-popup-container .cd-popup-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 8px;
}
.cd-popup-container .cd-popup-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 8px;
}
.is-visible .cd-popup-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
@media only screen and (min-width: 1170px) {
  .cd-popup-container {
    margin: 8em auto;
  }
}