<ul class="tab-bar">
  <li data-num="1" class="maths wave dark" (click)="swapSubject(0)" #maths>Математика</li>
  <li data-num="5" class="language wave dark" (click)="swapSubject(1)" #language>Српски језик</li>
  <div class="indicator" #indicator></div>
</ul>
<wbr>
<app-classes style="float: left;" (showClassNumber)="readClassInfo($event)" [classInfoDataFromParent]="toChildCClasses"></app-classes>
<app-class-info [classInfoDataFromParent]=classInfoDataUrlToShow></app-class-info>
