.tab-bar {
  margin-top: -20px;
  margin-left: 31%;
  display: -webkit-box;
  display: -ms-flexbox;
  list-style-type: none;
  -webkit-padding-start: 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.maths {
  width: 150px;
  display: inline;
  padding: 20px 0;
  background: white;
  color: #607D8B;
  overflow: hidden;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  cursor: pointer;
  position: absolute;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.language {
  width: 150px;
  margin-left: 150px;
  display: inline;
  padding: 20px 0;
  background: white;
  color: #607D8B;
  overflow: hidden;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  cursor: pointer;
  position: absolute;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.indicator {
  width: 150px;
  height: 3px;
  background: #49beb7;
  position: absolute;
  margin-top: 58px;
  margin-left:0;
  
  -webkit-transition: margin 0.5s ease;
  
  transition: margin 0.5s ease;
}

.cercle {
  width: 0px;
  height: 0px;
  position: absolute;
}

.light .cercle {background: white}
.dark .cercle {background: black}

.anim {
  opacity: 0.2;
  -webkit-animation: touch 1.2s ease-out;
          animation: touch 1.2s ease-out;
}
